body {
  font-size: 100% !important;
  font-size: 80%;
  margin: 0;
  padding: 0 0 20px;
}
body.home #content p img {
  float: left;
}
#container {
  width: 800px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
}
.alpha-shadow {
  width: 800px;
  float: left;
  background: url(../images/shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
}
#page {
  background: url(../images/shadow2.png) no-repeat left top !important;
  background: url(img/shadow2.gif) no-repeat left top;
  padding: 0px 5px 5px 0px;
}
#box {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  padding: 4px;
}
#banner {
  background: url(../images/globe-lines.gif) no-repeat -200px -30px;
  padding: 5px;
  margin-bottom: 2px;
  background-color: #959383;
  position: relative;
}
#banner p {
  text-align: center;
}
#banner p img {
  margin-left: -300px;
}
#tagline {
  position: absolute;
  right: 30px;
  top: 10px;
  margin: 0;
  padding: 0;
}
#tagline h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 0.9em;
  text-transform: none;
  color: white;
  margin: 0;
  padding: 0;
}
#tagline p {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
}
#skipper {
  display: none;
}
#navigation ul,
#extranav ul,
#navigation li,
#extranav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#navigation li.active a,
#extranav li.active a,
#navigation li:hover a,
#extranav li:hover a {
  color: white;
  background-color: black;
}
#navigation {
  font-size: 0.65em !important;
  font-size: 0.83em;
  font-family: "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
  height: 2em;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #6f6d59;
  position: relative;
}
#navigation ul {
  height: auto !important;
  height: 2em;
  min-height: 2em;
  border-left: 1px solid;
  border-color: #959383;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#navigation li {
  display: block;
  float: left;
  border: 1px solid;
  border-left: none;
  border-color: #959383;
}
#navigation li a {
  color: #959383;
  display: block;
  float: left;
  padding: 5px;
  background-color: #6f6d59;
  text-decoration: none;
}
#extranav {
  position: absolute;
  top: 3px;
  right: 5px;
}
#extranav ul {
  text-align: right;
  width: 180px;
}
#extranav li {
  display: inline;
}
#extranav li a {
  color: #333;
  text-transform: uppercase;
  padding: 3px;
  text-decoration: none;
  font-size: 0.8em;
}
#content h1,
#content h2 {
  font: normal 1.5em/1.7em Exlebris, StonePrint, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 0;
  color: #2a9324;
}
#content h2 {
  font-size: 1.2em;
  line-height: 1.3em;
}
#content p,
#content li {
  line-height: 1.3;
  margin: 0 15px;
  padding: 0;
}
#content p {
  margin: 0 15px 1em 15px;
}
#content p.phone {
  text-transform: uppercase;
}
#content p img {
  border: 1px solid #6f6d59;
  display: inline;
  float: right;
  margin: 10px;
}
#content p a.pdf {
  background: url(../images/icon-pdf-small.gif) no-repeat left top;
  padding-left: 20px;
}
#content ul {
  margin: 0 0 1em 15px;
}
#content ul ul {
  margin: 0 0 0 0px;
}
#expertise {
  background-color: #959383;
  float: right;
  display: inline;
  font-size: 0.8em;
  border: 1px solid black;
  width: 180px;
  margin-right: -60px;
  margin-left: 20px;
}
#expertise h3 {
  color: #fff;
  margin: 10px 0 0 10px;
  padding: 0;
  font-size: 1.4em;
  font-weight: normal;
}
#expertise ul,
#expertise li {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}
#expertise ul {
  margin: 0 10px 10px 30px;
}
#expertise p.brochure {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  word-spacing: 1px;
  color: #CCFFCC;
  padding: 3px;
  border: 1px solid #336600;
  background: #669966 url(../images/brochure-shade.png) repeat-x left top;
  margin: 5px;
}
#expertise p.brochure a,
#expertise p.brochure a:link,
#expertise p.brochure a:visited,
#expertise p.brochure a:active {
  color: #B79999;
}
#footer {
  color: #fff;
  clear: both;
  padding: 5px;
  margin-top: 0;
  font-size: 0.7em !important;
  font-size: 0.8em;
  text-align: center;
  background-color: #000000;
  position: relative;
}
#footer p.strong {
  font-size: 1.4em;
  font-weight: normal;
}
#footer p em {
  display: block;
  font-style: normal;
}
